extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your Password? Please create a new password here and confirm: #{url}.
  p (The website for this action has not yet been implemented)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password here
  p Please ignore this email if you did not request this change.
